@model TasksViewModel


@{
    ViewData["Title"] = "Tasks list";
}


<div>
    <h1>List of tasks</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Deadline</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
               @* @foreach(var item in Model.Tasks)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        
                        <td>@item.Deadline</td>
                        <td>
                            <a asp-action="TaskInfo" asp-controller="task" asp-route-id="@item.ID">Detail info</a>
                            <a asp-action="UpdateTask" asp-controller="task" asp-route-id="@item.ID">Update task</a>
                            <form method="post" asp-action="DeleteTask" asp-controller = "task" asp-route-id="@item.ID">
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                }*@
            </tbody>
        </table>
        
    </div>

</div>